**/node_modules/
**/.env
**/.env.*
!**/.env.example
**/dist/
**/storage
**/data/*.db
**/data/*.db-shm
**/data/*.db-wal
**/data/backups/
**/*.zip
**/src/certificates/**/*.key
**/src/certificates/**/*.crt
**/src/cache/
.DS_Store
Thumbs.db
